/*
css reset
*/
html, body, body div, span, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, abbr, address, cite, code, del, em, img,
small, strong, dl, dt, dd, ol, ul, li, fieldset, form, label,
article, aside, figure, footer, header, hgroup, menu, nav, section {
    margin: 0;
    padding: 0;
}   

article, aside, figure, footer, header, hgroup, nav, section {
    display: block;
}
html {
    overflow-y: scroll;
}
body {
    line-height: 1.4;
    font-family: Sans-Serif;
    font-size: 16px;
    color: #333;
    background: url("../images/body-bg.png");
}
:focus {
    outline: 0;
}
ol, ul {
    list-style: none;
}
a, a:hover {
    color:#333;
	text-decoration: none;
}

/* 公用样式 */
.clearfix:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
header {
    background: #252534;
    height:45px;
}
header h1 {
    line-height: 45px;
    color:#FFF;
    font-size:18px;
    text-align: center;
}
.content-wrapper {
    position: relative;
    padding-bottom: 50px;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width:100%;
}
footer section {
    padding: 5px 10px;
    line-height: 36px;
    border: 1px solid #000;
    background: #353543;
    font-size: 15px;
    color: #fff;
}
footer section:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
footer section aside, footer section article {
    float: left;
}
footer section span {
    float: right;
}
footer section aside {
    width: 35px;
    height: 35px;
    overflow: hidden;
    border-radius: 2px;
}
footer section article {
    margin-left: 10px;
}
footer section article h4 {
    font-size: 15px;
    font-weight: normal;
    float: left;
}
footer section article p {
    float: left;
    font-size: 12px;
    margin-left: 5px;
    color: #999;
}
.common-bg {
    background-image: url("../images/common.png");
    background-repeat: no-repeat;
}
.common-back {
    float: left;
    background-position: 0 -18px;
    width:22px;
    height:20px;
    margin:12px 0 0 10px;
}
.common-search {
    background-position: -22px -18px;
    width: 20px;
    height:22px;
    float: right;
    margin: 11px 10px 0 0;
}
/* 首页样式 */
.channel {
    margin:10px;
}
.channel section {
    float: left;
    width: 33.3%;
    height:80px;
    margin:8px 0;
}
.channel section h2 {
    font-weight: normal;
    font-size: 13px;
    width: 89px;
    height:100%;
    margin: auto;
    line-height: 135px;
    text-align: center;
    background-image:url("../images/feature-list.png");
    box-shadow: 1px 1px 1px #cdcdcd;
}
.channel section:nth-child(1) h2 {
    background-position: -1px 0; 
}
.channel section:nth-child(2) h2 {
    background-position: -118px 0;   
}
.channel section:nth-child(3) h2 {
    background-position: -233px 0;
}
.channel section:nth-child(4) h2 {
    background-position: -1px -103px; 
}
.channel section:nth-child(5) h2 {
    background-position: -118px -103px;
}
.channel section:nth-child(6) h2 {
    background-position: -234px -103px;
}

.channel section:nth-child(n) h1:active {
    background-image:url("../images/feature-list-active.png");
}
.channel section:nth-child(1) h1:active {
    background-position: -1px 0; 
}
.channel section:nth-child(2) h1:active {
    background-position: -118px 0;   
}
.channel section:nth-child(3) h1:active {
    background-position: -233px 0;
}
.channel section:nth-child(4) h1:active {
    background-position: -1px -103px; 
}
.channel section:nth-child(5) h1:active {
    background-position: -118px -103px;
}
.channel section:nth-child(6) h1:active {
    background-position: -234px -103px;
}

.channel-feedback {
    display: block;
    height: 40px;
    margin: 0 13px;
    border: 1px solid #ccc;
    text-align: center;
    line-height: 40px;
    background-color: #ffffff;
    color: #333;
}

/* 歌曲排行类 */
.ranking-ctn article {
    border-bottom: 1px solid #dadada;
    padding: 5px 0;
    background: #fafafa;
}
.ranking-ctn article:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.ranking-ctn article section {
    float: left;
}
.ranking-ctn article a {
    float: right;
    background-position: 0 0;
    width:17px;
    height:18px;
    margin:20px 20px 0 10px;
}
.ranking-item-index, .ranking-item-index-key {
    font-size: 22px;
    color:#999;
    line-height: 58px;
    margin:0 10px;
}
.ranking-item-index-key {
    color:#C66;
}
.ranking-ctn article section h3 {
    font-size: 16px;
    line-height: 36px;
}
.ranking-ctn article section p {
    height: 20px;
    line-height: 12px;
    font-size: 12px;
    color: #999;
    font-weight: bold;
}
.ranking-item-status {
    display: none;
    margin: 22px 10px 0 0;
    width:15px;
    height:16px;
}
.ranking-item-status-play {
    display: block;
    background-position: -33px 0;
}
.ranking-item-status-pause {
    display: block;
    background-position: -17px 0;
}
.ranking-view-more {
    display: block;
    border-bottom: 1px solid #dadada;
    padding: 10px 0;
    background: #fafafa;
    text-align: center;
    font-size: 16px;
}
.ranking-ctn article:active, .ranking-view-more:active {
    background: #e8e8e8;
}