/*
css reset
*/
html, body, body div, span, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, abbr, address, cite, code, del, em, img,
small, strong, dl, dt, dd, ol, ul, li, fieldset, form, label,
article, aside, figure, footer, header, hgroup, menu, nav, section {
    margin: 0;
    padding: 0;
}   

article, aside, figure, footer, header, hgroup, nav, section {
    display: block;
}
html {
    overflow-y: scroll;
}
body {
    line-height: 1.4;
    font-family: Sans-Serif;
    font-size: 16px;
    color: #333;
    background: url("../images/body-bg.png");
}
:focus {
    outline: 0;
}
ol, ul {
    list-style: none;
}
a, a:hover {
    color:#333;
	text-decoration: none;
}

/* 公用样式 */
.clearfix:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
header {
    background: #252534;
    height:45px;
}
header h1 {
    line-height: 45px;
    color:#FFF;
    font-size:18px;
    text-align: center;
}
.content-wrapper {
    position: relative;
    padding-bottom: 50px;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width:100%;
}
footer section {
    padding: 5px 10px;
    line-height: 36px;
    border: 1px solid #000;
    background: #353543;
    font-size: 15px;
    color: #fff;
}
footer section:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
footer section aside, footer section article {
    float: left;
}
footer section span {
    float: right;
}
footer section aside {
    width: 35px;
    height: 35px;
    overflow: hidden;
    border-radius: 2px;
    background-position: -48px 0;
}
footer section article {
    margin-left: 10px;
}
footer section article h4 {
    font-size: 15px;
    font-weight: normal;
    float: left;
}
footer section article p {
    float: left;
    font-size: 12px;
    margin-left: 5px;
    color: #999;
}
.common-bg {
    background-image: url("../images/common.png");
    background-repeat: no-repeat;
}
.common-back {
    float: left;
    background-position: 0 -18px;
    width:22px;
    height:20px;
    margin:12px 0 0 10px;
}
.common-search {
    background-position: -23px -18px;
    width: 20px;
    height:22px;
    float: right;
    margin: 11px 10px 0 0;
}
.common-view-more {
    display: block;
    border-bottom: 1px solid #dadada;
    padding: 10px 0;
    background: #fafafa;
    text-align: center;
    font-size: 16px;
}
.common-view-more:active {
    background: #e8e8e8;
}
.common-download {
    float: right;
    background-position: 0 0;
    width:17px;
    height:18px;
    margin:20px 20px 0 10px;
}
.common-close {
    width: 40px;
    height:40px;
    background-position: -10px -40px;
    border-radius: 3px 3px 0 0;
    background-color: #e8e8e8;
    float: right;
    margin:5px 10px 0 0;
}

/* 首页样式 */
.channel {
    margin:10px;
}
.channel section {
    float: left;
    width: 33.3%;
    height:80px;
    margin:8px 0;
}
.channel section h2 {
    font-weight: normal;
    font-size: 13px;
    width: 89px;
    height:100%;
    margin: auto;
    line-height: 135px;
    text-align: center;
    background-image:url("../images/feature-list.png");
    box-shadow: 1px 1px 1px #cdcdcd;
}
.channel section:nth-child(1) h2 {
    background-position: -1px 0; 
}
.channel section:nth-child(2) h2 {
    background-position: -118px 0;   
}
.channel section:nth-child(3) h2 {
    background-position: -233px 0;
}
.channel section:nth-child(4) h2 {
    background-position: -1px -103px; 
}
.channel section:nth-child(5) h2 {
    background-position: -118px -103px;
}
.channel section:nth-child(6) h2 {
    background-position: -234px -103px;
}

.channel section:nth-child(n) h2:active {
    background-image:url("../images/feature-list-active.png");
}
.channel section:nth-child(1) h2:active {
    background-position: -1px 0; 
}
.channel section:nth-child(2) h2:active {
    background-position: -118px 0;   
}
.channel section:nth-child(3) h2:active {
    background-position: -233px 0;
}
.channel section:nth-child(4) h2:active {
    background-position: -1px -103px; 
}
.channel section:nth-child(5) h2:active {
    background-position: -118px -103px;
}
.channel section:nth-child(6) h2:active {
    background-position: -234px -103px;
}

.channel-feedback {
    display: block;
    height: 40px;
    margin: 0 13px;
    border: 1px solid #ccc;
    text-align: center;
    line-height: 40px;
    background-color: #ffffff;
    color: #333;
}

/* 歌曲排行类 */
.ranking-ctn article, .singers-list-ctn article {
    border-bottom: 1px solid #dadada;
    padding: 5px 0;
    background: #fafafa;
}
.ranking-ctn article:after, .singers-list-ctn article:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.ranking-ctn article:active, .singers-list-ctn article:active {
    background: #e8e8e8;
}
.ranking-ctn article section {
    float: left;
}
.ranking-item-index, .ranking-item-index-key {
    font-size: 22px;
    color:#999;
    line-height: 58px;
    margin:0 10px;
}
.ranking-item-index-key {
    color:#C66;
}
.ranking-ctn article section h3 {
    font-size: 16px;
    line-height: 36px;
}
.ranking-ctn article section p {
    height: 20px;
    line-height: 12px;
    font-size: 12px;
    color: #999;
    font-weight: bold;
}
.ranking-item-status {
    display: none;
    margin: 22px 10px 0 0;
    width:15px;
    height:16px;
}
.ranking-item-status-play {
    display: block;
    background-position: -33px 0;
}
.ranking-item-status-pause {
    display: block;
    background-position: -17px 0;
}

/* 歌手列表 */
.singer-avatar, .singers-list-ctn h4, .singers-list-ctn h5 {
    float: left;
}
.common-go-arrow {
    float: right;
}
.singer-avatar {
    width: 54px;
    height: 54px;
    overflow: hidden;
    margin:0 15px 0 5px;
}
.singers-list-ctn h4, .singers-list-ctn h5 {
    font-size: 18px;
    line-height: 54px;
}
.singers-list-ctn h5 {
    margin-left: 15px;
}
.common-go-arrow {
    width:11px;
    height:15px;
    background-position: 0 -40px;
    margin:20px 20px 0 0;
}

/* 歌手 */
.singer-info {
    margin:15px;
}
.singer-info-avatar {
    padding: 5px;
    width: 80px;
    height: 80px;
    border-top: 1px solid #d6d6d6;
    border-left: 1px solid #c3c3c3;
    border-right: 1px solid #c3c3c3;
    border-bottom: 1px solid #848484;
    overflow: hidden;
    float: left;
    background: #FFF;
}
.singer-info-list {
    padding-left:110px;
}
.singer-info-list h3 {
    font-size: 1.5em;
}
.singer-info-list p {
    margin-top:3px;
    color:#797979;
    font-size: 12px;
}

.tab {
    text-align:center;
    line-height:35px;
    height:35px;
    margin:0 15px 15px;
    position:relative;
    font-weight:bold;
    border-radius:3px;
}
.tab-album, .tab-song {
    float: left;
    width:49.7%;
    border:1px solid #E1E1E1;
    height:33px;
}
.tab-song {
    -webkit-border-top-left-radius:3px;
    -webkit-border-bottom-left-radius:3px;
}
.tab-album {
    -webkit-border-top-right-radius:3px;
    -webkit-border-bottom-right-radius:3px;
}
.tab-num {
    color:#666666;
    font-weight:normal;
    font-size:15px;
}
.tab-cur {
    border-color:rgb(100,180,220);
    color:white;
}
.tab-cur .tab-num {
    color:white;
}
.tab-downarrow {
    height:0px;
    width:0px;
    border-width:10px 10px;
    border-style:solid;
    border-color:#2BA0DD transparent transparent transparent;
    position:absolute;
    top:31px;
    left:23%;
}
.tab-album, .tab-song {
    background: #EAEAE9;
    background: -moz-linear-gradient(top, #FBFBFB 0%, #EAEAE9 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FBFBFB), color-stop(100%,#EAEAE9));
    background: -o-linear-gradient(top, #FBFBFB 0%,#EAEAE9 100%);
    background: linear-gradient(to bottom, #FBFBFB 0%,#EAEAE9 100%);
}

.tab-cur {
    background: #2BA0DD;
    background: -moz-linear-gradient(top, #43B6F1 0%, #2BA0DD 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#43B6F1), color-stop(100%,#2BA0DD));
    background: -o-linear-gradient(top, #43B6F1 0%,#2BA0DD 100%);
    background: linear-gradient(to bottom, #43B6F1 0%,#2BA0DD 100%);
}

/* 搜索 */
.search-wrap {
    margin:10px;
    border-radius: 2px;
}
.search-wrap-content {
    border: 1px solid #6e6e6e;
    border-right: none;
    border-top-left-radius: 2px;
    bottom-bottom-left-radius: 2px;
    height: 36px;
    padding-right: 95px;
}
.search-wrap-button {
    display: block;
    border: 1px solid #6e6e6e;
    border-top-right-radius: 2px;
    bottom-bottom-right-radius: 2px;
    height:36px;
    width: 75px;
    line-height: 36px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    float: right;
}
.search-wrap-content input {
    margin:0;
    padding: 0;
    border: 0;
    height:36px;
    line-height: 36px;
    width: 100%;
    font-size: 18px;
}
.search-ctn article {
    border-bottom: 1px solid #dadada;
    padding: 5px 0;
}
.search-ctn article:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.search-ctn article:active {
    background: #e8e8e8;
}
.search-ctn article section {
    float: left;
    line-height: 38px;
    margin: 0 10px;
    font-size: 16px;
    font-weight: bold;
}
.search-ctn article .common-download {
    margin-top: 10px;
}

/* 播放歌曲 */
.song-play-ctn h1 {
    text-align: center;
    font-size: 24px;
    margin-top:10px;
}
.song-play-author {
    font-size: 15px;
    color:#666;
    text-align: center;
}
.song-play-header {
    height:160px;
    margin:10px 0;
}
.song-play-cover {
    margin: 0 auto;
    padding: 5px;
    width: 150px;
    height: 150px;
    overflow: hidden;
    background: #fff;
    -webkit-box-shadow: rgba(51,51,51,0.4) 0px 1px 1px;
    box-shadow: rgba(51,51,51,0.4) 0px 0px 5px;
}
.song-play-lyric {
    height: 160px;
    overflow: hidden;
    display: none;
    text-align: center;
    font-size: 15px;
    line-height: 1.8;
}
.song-play-body {
    width: 275px;
    margin:0 auto;
    height:85px;
}
.song-play-body .common-download {
    float: left;
    margin:30px 20px 0 0;
}
.song-play-button-bg, .song-play-style-word, .song-play-style-picture {
    float: left;
}
.song-play-button-bg {
    margin-top:13px;
    padding: 5px;
    background: #FFF;
    background: -moz-linear-gradient(top, #e9e8e8 0%, #FFF 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e9e8e8), color-stop(100%,#FFF));
    background: -o-linear-gradient(top, #e9e8e8 0%,#FFF 100%);
    background: linear-gradient(to bottom, #e9e8e8 0%,#FFF 100%);
    -moz-border-radius: 47px;
    -webkit-border-radius: 47px;
    -o-border-radius: 47px;
    border-radius: 47px;
}
.song-play-prev {
    background-position: -73px -130px;
    width:47px;
    height:47px;
}
.song-play-prev:active {
    background-position: -73px -226px;
}
.song-play-next {
    background-position: -73px -82px;
    width:47px;
    height:47px;
}
.song-play-next:active {
    background-position: -73px -178px;
}
.song-play-button-bg-max {
    margin-top:0;
    -moz-border-radius: 73px;
    -webkit-border-radius: 73px;
    -o-border-radius: 73px;
    border-radius: 73px;
}
.song-play-status-play, .song-play-status-pause {
    width:73px;
    height:73px;
}
.song-play-status-play {
    background-position: 0 -82px;
}
.song-play-status-play:active {
    background-position: 0 -230px;
}
.song-play-status-pause {
    background-position: 0 -156px;
}
.song-play-status-pause:active {
    background-position: 0 -303px;
}
.song-play-style-word, .song-play-style-picture {
    width: 20px;
    height: 20px;
    margin:30px 0 0 20px;
}
.song-play-style-word {
    background-position: -93px -60px;
}
.song-play-style-word:active {
    background-position: -93px 0;
}
.song-play-style-picture {
    background-position: -93px -20px;
}
.song-play-style-picture:active {
    background-position: -93px -40px;
}
/* 播放进度 */
.song-play-bar-ctn {
    width: 301px;
    height:20px;
    margin:10px auto 20px;
}
.song-play-bar-ctn span {
    float: left;
    font-size: 14px;
    width:45px;
    height:20px;
    line-height: 20px;
    overflow: hidden;
    white-space: nowrap;
}
.song-play-bar-mask {
    float: left;
    height: 14px;
    width:201px;
    margin:0 8px 0 2px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;

    background: #dfdede;
    background: -moz-linear-gradient(top, #dfdede 0%, #FFF 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dfdede), color-stop(100%,#FFF));
    background: -o-linear-gradient(top, #dfdede 0%,#FFF 100%);
    background: linear-gradient(to bottom, #dfdede 0%,#FFF 100%);
    position: relative;
}
.song-play-bar {
    width:195px;
    height:8px;
    position: relative;
    left:3px;
    top:3px;
}
.song-play-bar-total {
    background: #646362;
    background: -moz-linear-gradient(top, #646362 0%, #a5a5a5 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#646362), color-stop(100%,#a5a5a5));
    background: -o-linear-gradient(top, #646362 0%,#a5a5a5 100%);
    background: linear-gradient(to bottom, #646362 0%,#a5a5a5 100%);
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
    position: absolute;
    width:100%;
    height:8px;
    left:0;
    top:0;
    z-index: 1;
}
.song-play-bar-current {    
    background: #7FCDF3;
    background: -moz-linear-gradient(top, #7FCDF3 0%, #66C1F0 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7FCDF3), color-stop(100%,#66C1F0));
    background: -o-linear-gradient(top, #7FCDF3 0%,#66C1F0 100%);
    background: linear-gradient(to bottom, #7FCDF3 0%,#66C1F0 100%);
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
    position: absolute;
    width:98px;
    height:8px;
    left:0;
    top:0;
    z-index: 10;
}
.song-play-bar-slide {
    position: absolute;
    z-index: 20;
    left:98px;
    top: -5px;
    width:14px;
    height:15px;
    background-color: #FFF;
    background-position: -75px -38px;
    border: 1px solid #D5D5D5;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}
.song-play-more {
    height:28px;
    line-height: 28px;
    text-align: center;
    border:#999 solid 1px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    font-size: 14px;
    margin:0 30px;
    background:#FFF;
}